/* この立方体は回を六面につけた形のものです */
.megurusquare {
    width: 300px;
    height: 300px;
    border:5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gamingcolor 1s linear 0s infinite none normal running;
 }
 .megurusquare2 {
    width: 150px;
    height: 150px;
    border:5px solid black;
    animation: gamingcolor 1s linear 0s infinite none normal running;
 }
 @keyframes gamingcolor{
    0%{
      border: 10px solid red;
    }
    20%{
      border: 10px solid purple;
    }
    40%{
      border: 10px solid blue;
    }
    60%{
      border: 10px solid green;
    }
    80%{
      border: 10px solid yellow;
    }
    100%{
      border: 10px solid orangered;
    }
   }

 /* ここで立方体にする */
 #megurucube {
    z-index: 200;
    perspective: 1000px;
    width:300px;
    height:300px;
    position: fixed;
    top:50vh;
    left:50vw;
    transform:translateX(-50%) translateY(-50%);
  }
  .meguruboxBase {
    transform-style:preserve-3d;
    width:300px;
    height:300px;
    /* ここの秒数をいじると回転する速度が変わるよ */
    animation: turnAround 5s linear 0s infinite normal none running;
  }
  @keyframes turnAround {
    0%{
      transform:rotateX(0deg) rotateY(0deg);
    }
    100%{
      transform:rotateX(360deg) rotateY(360deg);
    }
  }
  .meguruboxBase > div {
    position:absolute;
    border:5px solid black;
  }
  .meguruboxBase > .megurutop {
    transform:translateY(150px) rotateX(-90deg);
  }
  .meguruboxBase > .megurubottom {
    transform:translateY(-150px) rotateX(90deg);
  }
  .meguruboxBase > .megurufront {
    transform:translateZ(150px);
  }
  .meguruboxBase > .meguruback {
    transform:translateZ(-150px) rotateX(180deg);
  }
  .meguruboxBase > .meguruleft {
    transform:translateX(-150px) rotateY(-90deg);
  }
  .meguruboxBase > .megururight {
    transform:translateX(150px) rotateY(90deg);
  }